.App {
  min-height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1; /* 👈 ensures content sits above background particles */
}

.center {
  display: flex;
  justify-content: center;
}
